////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Copyright (C) 2025 AStruthers2000 - All Rights Reserved
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
#include "problem_{{ day }}.h"

/* Specific includes/imports go here */

//----------------------------------------------------------------------------------------------------------------------
namespace AoC
{

//----------------------------------------------------------------------------------------------------------------------
bool Problem_{{ day }}::load_problem()
{
    return false;
}

//----------------------------------------------------------------------------------------------------------------------
std::unique_ptr<Answer> Problem_{{ day }}::solve_part_1()
{
    return nullptr;
}

//----------------------------------------------------------------------------------------------------------------------
std::unique_ptr<Answer> Problem_{{ day }}::solve_part_2()
{
    return nullptr;
}

} // namespace AoC
